@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guitar App</h1>
    <p class="lead">Aplicacion de prueba para demostrar el uso del patron de diseño MVC en .NET</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Guitar App</h2>
        <p>
            Esta aplicacion permite realizar el diseño de una guitarra, y poder saber el estado de su construccion y poder recbir comentarios al respecto. (Bastante basico en realidad.)
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aprende a tocar un instrumento</h2>
        <p>Tocar un instrumento musical puede resultar bastante entretenido(por si no lo habias notado!), decidete por uno y empieza de una vez hay infinadad de instrumentos desde el trinagulo hasta un oboe, ¿Que no sabes como es un oboe?, pues en el siguiente enlace esta lo que necesitas y claro otros intrumentos mas.</p>
        <p><a class="btn btn-default" href="http://musiced.about.com/od/musicinstruments/a/instruments.htm">Dame un clic! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Real Guitars!!!!</h2>
        <p>Quieres conocer a los fabricantes mas importes como Fender o Gibson, entonces dale clic a "Learn more".... </p>
        <p><a class="btn btn-default" href="http://www.thetoptens.com/best-guitar-brands/">Learn more &raquo;</a></p>
    </div>
</div>